build/
*.o
map/MapExe
election/testing_dir_from_csl3/electionExe
election/testing_dir_from_csl3/electionExe
submission_zone/electionExe
submission_zone/tests/our_tests/LICENSE
submission_zone/mtm_map/MapExe
