build/
*.o
map/MapExe
election/testing_dir_from_csl3/electionExe
election/testing_dir_from_csl3/electionExe
submission_zone/electionExe
election/testing_dir_from_csl3/electionExe
MADT/madt.h
MADT/madt.c
